<nav>
    <ul>
        <li>
            <a href="/">
                <span class="icon">
                    <img src="/logo/logoWhite.png" height="35" alt="">
                </span>
            </a>
        </li>

        <li>
            <a href="/dashboard">
                <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
                </span>
                <span class="title">Panel</span>
            </a>
        </li>

        <li>
            <a href="/dashboard/bildirimler">
                <span class="icon">
                    <ion-icon name="chatbubble-outline"></ion-icon>
                </span>
                <span class="title">Mesajlar</span>
            </a>
        </li>


        <li>
            <a href="/dashboard/ayarlar">
                <span class="icon">
                    <ion-icon name="settings-outline"></ion-icon>
                </span>
                <span class="title">Ayarlar</span>
            </a>
        </li>


        <li>
            <a href="/logout">
                <span class="icon">
                    <ion-icon name="log-out-outline"></ion-icon>
                </span>
                <span class="title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>