<footer>
    <div class="footer-top">
        <div class="logo"><a href="/"><img src="/logo/logoGreen.png" alt=""></a></div>
        <div class="footer-navbar">
            <ul>
                <li><a href="/">Anasayfa</a></li>
                <li><a href="/dashboard">Sera</a></li>
                <li><a href="/hakkimizda">Hakkımızda</a></li>
                <li><a href="/iletisim">İletişim</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="box">
            <span>© 2023 SeraVision, Tüm Hakları Saklıdır.</span>
            <div class="social-media-group">
                <a href="https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="https://www.instagram.com/"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="https://www.whatsapp.com/"><ion-icon name="logo-whatsapp"></ion-icon></a>
            </div>
        </div>
    </div>
</footer>