<nav>
    <div class="logo"><a href="/"><img src="/logo/logoGreen.png?ver=0.1" alt="Website Logo"></a></div>

    <div class="menu">
        <ul>
            <li><a href="/">Anasayfa</a></li>
            <li><a href="/dashboard">Sera</a></li>
            <li><a href="/hakkimizda">Hakkımızda</a></li>
            <li><a href="/iletisim">İletişim</a></li>
        </ul>
    </div>

    <div class="button-group">
        <button id="btnLogin" onclick="location.href='/accounts/login';">Giriş Yap</button>
        <button id="btnRegister" onclick="location.href='/accounts/register';">Kayıt Ol</button>
    </div>

    <div class="toggle" id="btnOpenToggleMenu">
        <ion-icon name="menu-outline"></ion-icon>
    </div>
</nav>