<div class="toggleMenu">
    <div class="header">
        <div class="text">SeraVision</div>
        <div class="closer" id="btnToggleMenuCloser"><ion-icon name="close-outline"></ion-icon></div>
    </div>
    <div class="main">
        <div class="menu">
            <ul>
                <li>
                    <div class="icon"><ion-icon name="home-outline"></ion-icon></div> <a href="/">Anasayfa</a>
                </li>
                <li>
                    <div class="icon"><ion-icon name="leaf-outline"></ion-icon></div> <a href="/dashboard">Sera</a>
                </li>
                <li>
                    <div class="icon"><ion-icon name="information-circle-outline"></ion-icon></div> <a href="/hakkimizda">Hakkımızda</a>
                </li>
                <li>
                    <div class="icon"><ion-icon name="call-outline"></ion-icon></div> <a href="/iletisim">İletişim</a>
                </li>
            </ul>
        </div>
        <div class="button-group">
            <button id="btnToggleLogin" onclick="location.href='/accounts/login';">Giriş Yap</button>
            <button id="btnToggleRegister" onclick="location.href='/accounts/register';">Kayıt Ol</button>
        </div>
    </div>
</div>