@media(max-width:990px){
    .login-container .right{
        display: none;
    }
    .left{
        width: 100%;
    }
    form .input_box{
        width: 70%;
    }
    .login-container{
        width: 500px;
    }
}

@media (max-width:575px){
    form .input_box{
        width: 80%;
    }
    .login-container{
        width: 400px;
    }
}