<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SeraVision | Giriş Yap</title>
    <link rel="website icon" href="/logo/favicon.png">
    <link rel="stylesheet" href="/home/css/loadingscreen.css">
    <link rel="stylesheet" href="/login/css/login2.css">
    <link rel="stylesheet" href="/login/css/responsive.css">


</head>

<body>
    <div class="loaderContainer">
        <div class="loader"></div>
    </div>

<div class="container"></div>
<div class="backdrop"></div>

<div class="lcon">
    <div class="login-container">
        <div class="left">
            <div class="logo"><a href="/"><img src="/logo/logoGreen.png?ver=0.1" alt=""></a></div>
            <div class="header">Giriş Yap</div>
            <form method="dialog" id="formLogin" action="">
                <div class="input_box">
                    <label for="username">Kullanıcı Adı:</label>
                    <input type="text" required name="username" id="txtUsername">
                </div>

                <div class="input_box">
                    <label for="password">Şifre:</label>
                    <input type="password" required name="password" id="txtPassword">
                </div>

                <div class="input_box">
                    <input type="submit" name="" id="">
                    <a href="/accounts/forgotpassword">Şifrenimi Unuttun?</a>
                    <span style="text-align: center; font-size: 0.8rem;" id="lblAlert"></span>
                </div>
            </form>

            <div class="beRegister">
                Hala Hesabınız Yok Mu? <a href="/accounts/register">Hesap Oluşturun</a>.
            </div>
        </div>
        <div class="right">

        </div>
    </div>
</div>
<script src="/login/js/app.js"></script>
<script>
    let loading = document.querySelector(".loaderContainer")
    window.addEventListener("load", () => {
        setTimeout(() => {
            loading.style.opacity = "0"
            setTimeout(() => {
                loading.style.display = "none"
            }, 500);
        }, 1000);
    })
</script>

</body>

</html>